/* ===== ESTILOS GENERALES ===== */

body 
{
    margin: 0;font-family: Arial, sans-serif;background-color: #f4f4f4;
}


/* ===== ENCABEZADO ===== */

header 
{
    background-color: #1a1a1a;color: white;text-align: center;padding: 20px;
}

header h1 {margin: 0;}

header p {margin-top: 10px;}


/* ===== MARCO BANDERA A CUADROS ===== */

.marco-bandera 
{
    padding: 6px;
    background: repeating-conic-gradient
    (
        #ffffff 0% 25%,
        #111111 0% 50%
    ) 0 0 / 24px 24px;
}


/* ===== NAVEGACION ===== */

.navegacion-principal {background-color: #111111;}

.navegacion-principal ul 
{
    list-style: none;margin: 0;padding: 0;display: flex;flex-wrap: wrap;justify-content: center;
}

.navegacion-principal li {margin: 0;}

.navegacion-principal a 
{
    display: block;color: white;text-decoration: none;padding: 14px 18px;font-weight: bold;
}



.navegacion-principal a:hover 
{
    background-color: #e10600;
}


/* pagina actual */

.navegacion-principal a.activo 
{
    background-color: #e10600;
}


/* ===== CONTENIDO PRINCIPAL ===== */

main 
{
    padding: 30px;
}
/* ===== INTRODUCCION ===== */

.introduccion 
{
    position: relative;

    display: flex;gap: 30px;align-items: center;padding: 30px;
     background-image: url("../img/imagen_5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
}
.introduccion::before       /* Capa de superposición  para que se vea mejor el texto. Obtuve la idea de internet*/
{
    content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.55);
}

.video-introduccion,.texto-introduccion
{
    position: relative;z-index: 1;flex: 1;
}

.video-introduccion iframe 
{
    width: 100%; max-width: 560px;
}


/* ===== PAGINA HISTORIA ===== */

/*  EXPANSION NACIMIENTO */
.historia-seccion
{background-color: white;padding: 30px;}

/*  EXPANSION NACIMIENTO */
#historia-nacimiento
{
    display: flex;gap: 35px;align-items: flex-start;background-color: white;padding: 30px;
}

#historia-nacimiento-texto{ width: 30%;}

#historia-nacimiento-imagen
{width: 65%;margin: 0;}

#historia-nacimiento-imagen img
{
    width: 100%;height: auto;display: block;
}


#historia-nacimiento-imagen figcaption
{
    margin-top: 6px;font-style: italic;font-size: 0.9rem;text-align: center;
}


/*  EXPANSION INTERNACIONAL */

#historia-expansion{margin-top: 30px;}


#historia-expansion-titulo-imagenes
{
    font-style: italic;text-align: center; margin-top: 25px;margin-bottom: 10px;
}


#historia-expansion-imagenes
{
    display: flex; gap: 20px;
}


#historia-expansion-imagenes img
{
    width: 50%;height: 320px;object-fit: cover;display: block;
}

/* FORMULA 1 MODERNA */

#historia-moderna
{margin-top: 30px;}

#historia-moderna-titulo-imagen
{
    margin-top: 30px;margin-bottom: 20px;text-align: center;font-size: 1.3rem;
}

#historia-moderna-imagen
{text-align: center;}

#historia-moderna-imagen img
{
    width: 100%;max-width: 850px;height: auto;display: block;margin: 0 auto;
}




/* ===== PAGINA CAMPEONES ===== */


/* ===== INTRODUCCION CAMPEONES ===== */

#campeones-introduccion
{
    background-color: white;padding: 30px;margin-bottom: 30px;
}

#campeones-imagen
{
    margin-top: 25px;
}

#campeones-imagen img
{
    width: 100%;height: auto;display: block;
}


/* ===== MEDALLERO ===== */

#campeones-medallero
{
    background-color: white;padding: 30px;
}


/* Tabla */

#tabla-campeones
{
    width: 100%;border-collapse: collapse;margin-top: 20px;
}


#tabla-campeones th,
#tabla-campeones td
{
    border: 1px solid #cccccc;padding: 10px;text-align: center;
}


#tabla-campeones th
{
    background-color: #1a1a1a;color: white;
}


/* Primer puesto */

#tabla-campeones .oro
{background-color: #f0d436;}


/* Segundo puesto */

#tabla-campeones .plata
{background-color: #c0c0c0;}


/* Tercer puesto */

#tabla-campeones .bronce
{background-color: #d88a3c;}

/*  NACIONALIDAD CON BANDERA  */

.nacionalidad
{
    display: flex;align-items: center;justify-content: center;gap: 8px;
}

.bandera-pais
{
    width: 28px;height: 18px;object-fit: cover;display: block;
}





/* ===== PIE DE PAGINA ===== */


footer
{
    background-color: #1a1a1a;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 20px;
    margin-top: 30px;
}


.footer-izquierda
{
    text-align: left;
}


.footer-izquierda p
{
    margin-top: 0;margin-bottom: 8px;
}


.footer-derecha
{
    text-align: right;
}


.footer-derecha p
{
    margin-top: 0; margin-bottom: 8px;
}


.footer-derecha img
{
    width: 310px;height: 45px;display: block;
}